@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif; }

body {
  overflow-x: hidden; }

button:focus {
  outline: none !important; }

input:focus {
  outline: none !important; }

textarea:focus {
  outline: none !important; }

a:focus {
  outline: none !important; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

img {
  width: 100%;
  height: 100%; }

a, :before, :after, button, input {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

@-webkit-keyframes arrowBottom {
  0% {
    bottom: 40px; }
  50% {
    bottom: 20px; }
  100% {
    bottom: 40px; } }

@keyframes arrowBottom {
  0% {
    bottom: 40px; }
  50% {
    bottom: 20px; }
  100% {
    bottom: 40px; } }

.btn {
  width: 205px;
  border: none;
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  background: transparent;
  position: relative; }
  .btn::before, .btn::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 40%; }
  .btn::before {
    top: 5px;
    left: 0;
    border-top: 3px solid #ffe400;
    border-left: 3px solid #ffe400; }
  .btn::after {
    right: 0;
    bottom: 5px;
    border-right: 3px solid #ffe400;
    border-bottom: 3px solid #ffe400; }
  .btn:hover {
    background: #ffe400; }
    .btn:hover::before {
      top: -20px;
      left: -20px;
      border-top: 3px solid #000;
      border-left: 3px solid #000;
      width: 30px;
      height: 30px; }
  .btn:hover::after {
    right: -20px;
    bottom: -20px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    width: 30px;
    height: 30px; }
  .btn__white {
    color: #ffffff; }
    .btn__white:hover::before {
      border-top: 3px solid #ffe400;
      border-left: 3px solid #ffe400; }
    .btn__white:hover::after {
      border-right: 3px solid #ffe400;
      border-bottom: 3px solid #ffe400; }

.blockTitle {
  color: #313131;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  position: relative; }
  .blockTitle::after, .blockTitle::before {
    position: absolute;
    content: '';
    background: url(../img/rhombus.png) no-repeat center;
    width: 14px;
    height: 100%; }
  .blockTitle::after {
    -webkit-transform: translateX(20px);
    transform: translateX(20px); }
  .blockTitle::before {
    -webkit-transform: translateX(-34px);
    transform: translateX(-34px); }

.blockTitle__white {
  color: #ffffff; }

section {
  padding: 100px 0; }

.form p {
  color: #dcdcdc;
  font-size: 16px;
  font-weight: 400; }

.form p span {
  color: #ffe400; }

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffe400;
  color: #ffffff;
  width: 100%;
  margin-bottom: 30px;
  padding: 5px 10px;
  cursor: pointer; }
  .input::-webkit-input-placeholder {
    color: #7c7c7c;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.8px; }
  .input::-moz-placeholder {
    color: #7c7c7c;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.8px; }
  .input:-ms-input-placeholder {
    color: #7c7c7c;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.8px; }
  .input::-ms-input-placeholder {
    color: #7c7c7c;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.8px; }
  .input::placeholder {
    color: #7c7c7c;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.8px; }
  .input:hover, .input:focus {
    opacity: 0.7; }

.header {
  -webkit-box-shadow: 0 2px 20px #5a5a5a;
  box-shadow: 0 2px 20px #5a5a5a;
  background-color: #5a5a5a;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
  .header__phone {
    text-align: center; }
    .header__phone a {
      display: block; }
      .header__phone a:hover {
        opacity: 0.7; }

.navbar-brand {
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.5px; }
  .navbar-brand:hover {
    opacity: 0.7; }

.nav-item a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 10px;
  position: relative; }
  .nav-item a::before {
    content: '';
    position: absolute;
    left: 10px;
    bottom: -5px;
    width: 0%;
    height: 1px;
    background: #ffe400; }
  .nav-item a:hover {
    opacity: 0.7; }
    .nav-item a:hover::before {
      width: 25%; }

.phone {
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px; }

.callback {
  color: #ffe400 !important;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px dashed #ffe400; }

.offer {
  background: url(../img/heroFone.jpg) no-repeat center/cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .offer__info {
    margin-top: 5rem; }
  .offer__title {
    color: #313131;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.5px; }
  .offer__text {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0; }

.arrow-bottom {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
  -webkit-animation: arrowBottom 1.7s infinite;
  animation: arrowBottom 1.7s infinite; }
  .arrow-bottom a {
    display: inline-block;
    padding: 30px;
    opacity: 0.5; }
    .arrow-bottom a:hover {
      opacity: 1; }

.ourwork__wrap {
  margin-top: 30px;
  cursor: pointer;
  overflow: hidden; }
  .ourwork__wrap a {
    display: block; }
    .ourwork__wrap a:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }

.feedback {
  background: url(../img/feedback.jpg) no-repeat center/cover;
  padding-bottom: 0; }
  .feedback__form {
    padding-top: 95px;
    color: #ffffff;
    letter-spacing: 0.6px; }
    .feedback__form p {
      padding: 13px 0 18px;
      letter-spacing: 0px; }
    .feedback__form small {
      display: inline-block;
      padding-top: 20px;
      color: #7c7c7c;
      font-size: 10px;
      font-weight: 400; }
    .feedback__form h3 {
      font-weight: bold; }

.blockSubTitle {
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-top: 8px; }

.man {
  width: 431px;
  height: 612px; }

.foto {
  background: url(../img/fotoFone.png) no-repeat center/cover; }
  .foto__slide {
    max-width: 960px;
    margin: 40px auto 0px; }

.carousel-control-prev {
  left: -15%; }
  .carousel-control-prev img {
    width: 28px;
    height: 50px;
    opacity: 0.68; }

.carousel-control-next {
  right: -15%; }
  .carousel-control-next img {
    width: 28px;
    height: 50px;
    opacity: 0.68; }

.carousel-item, .color-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.baw {
  position: relative;
  opacity: 1;
  z-index: 2; }
