@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif; }

body {
  overflow-x: hidden; }

button:focus {
  outline: none !important; }

input:focus {
  outline: none !important; }

textarea:focus {
  outline: none !important; }

a:focus {
  outline: none !important; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

img {
  width: 100%;
  height: 100%; }

a, before, after {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

.btn {
  padding: 1rem 2.3rem;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 35px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  cursor: pointer; }
  .btn--light {
    background: #FAF9F9;
    border: 1px solid #E5E5E5; }
  .btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn:active, .btn:focus {
    outline: none; }

label.invalid {
  position: absolute;
  margin-top: 53px;
  color: #000; }

input.invalid {
  border-bottom: 1px solid red; }

.header {
  -webkit-box-shadow: 0 2px 20px #5a5a5a;
  box-shadow: 0 2px 20px #5a5a5a;
  background-color: #5a5a5a;
  height: 70px; }
  .header__phone {
    text-align: center; }
    .header__phone a {
      display: block; }
      .header__phone a:hover {
        opacity: 0.7; }

.navbar-brand {
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.5px; }
  .navbar-brand:hover {
    opacity: 0.7; }

.nav-item a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 10px;
  position: relative; }
  .nav-item a::before {
    content: '';
    position: absolute;
    left: 15px;
    bottom: -5px;
    width: 0%;
    height: 1px;
    background: #ffe400; }
  .nav-item a:hover {
    opacity: 0.7; }
    .nav-item a:hover::before {
      width: 25%; }

.phone {
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px; }

.callback {
  color: #ffe400 !important;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px dashed #ffe400; }
