.btn
  width: 205px
  border: none
  cursor: pointer
  color: #000000
  font-size: 16px
  font-weight: 400
  line-height: 50px
  background: transparent
  position: relative
  &::before, &::after
    content: ""
    position: absolute
    width: 30%
    height: 40%
  &::before
    top: 5px
    left: 0
    border-top: 3px solid #ffe400
    border-left: 3px solid #ffe400
  &::after
    right: 0
    bottom: 5px
    border-right: 3px solid #ffe400
    border-bottom: 3px solid #ffe400
  &:hover
    background: #ffe400
    &::before
      top: -20px
      left: -20px
      border-top: 3px solid #000
      border-left: 3px solid #000
      width: 30px
      height: 30px
  &:hover
    &::after
      right: -20px
      bottom: -20px
      border-right: 3px solid #000
      border-bottom: 3px solid #000
      width: 30px
      height: 30px
  &__white
    color: #ffffff
    &:hover
      &::before
        border-top: 3px solid #ffe400
        border-left: 3px solid #ffe400
    &:hover
      &::after
        border-right: 3px solid #ffe400
        border-bottom: 3px solid #ffe400
.blockTitle
  color: #313131
  font-size: 42px
  font-weight: 700
  text-align: center
  position: relative
  &::after, &::before
    position: absolute
    content: ''
    background: url(../img/rhombus.png) no-repeat center
    width: 14px
    height: 100%
  &::after
    transform: translateX(20px)
  &::before
    transform: translateX(-34px)   
.blockTitle
  &__white
    color: #ffffff
section
  padding: 100px 0
.form
  p
    color: #dcdcdc
    font-size: 16px
    font-weight: 400
.form
  p
    span
      color: #ffe400
.input
  background: transparent
  border: none
  border-bottom: 1px solid #ffe400
  color: #ffffff
  width: 100%
  margin-bottom: 30px
  padding: 5px 10px
  cursor: pointer
  &::placeholder
    color: #7c7c7c
    font-size: 14px
    font-weight: 400
    letter-spacing: -0.8px
  &:hover, &:focus
    opacity: 0.7
